{{heading model.name}}

<p>Foods available:</p>

<ul>
  {{#each model.foods as |food|}}
    <li>{{food.name}}</li>
  {{/each}}
</ul>

{{#if model.foods}}
  <p>Max health: {{model.maxHealth}}/10</p>
  <p>
    Avg health: {{round model.avgHealth 2}}/10
    {{rating-bar model.avgHealth}}
  </p>
{{/if}}

{{#link-to 'restaurants.restaurant.edit' model.id}}<button>Edit</button>{{/link-to}}
