<p>Name: {{input value=model.name}}</p>
<p>Description: {{textarea value=model.description class="medium-text-area"}}</p>
<p>Available: {{input type="checkbox" checked=model.isAvailable}}</p>
<p>Image URL: {{input value=model.imageUrl}}</p>

{{icon-image model.imageUrl}}
<br>

{{#x-select value=model.course action=(action (mut model.course)) as |xs|}}
  {{#xs.option value='Appetizer'}}Appetizer{{/xs.option}}
  {{#xs.option value='Entree'}}Entree{{/xs.option}}
  {{#xs.option value='Dessert'}}Dessert{{/xs.option}}
{{/x-select}}


<br>
<button {{action 'save'}}>Save</button>
