<p>Name: {{input value=model.name}}</p>
<p>Description: {{textarea value=model.description class="medium-text-area"}}</p>
<p>Available: {{input type="checkbox" checked=model.isAvailable}}</p>
<p>Image URL: {{input value=model.imageUrl}}</p>

{{icon-image src=model.imageUrl}}
<br>
<button {{action 'save'}}>Save</button>
