<li class="{{if food.isAvailable '' 'not-available'}}">
  <div {{action 'toggleOpen'}}>{{food.name}} {{if isOpen 'V' '>'}}</div>
  {{#if isOpen}}
    {{#link-to "foods.food" food}}<button>Show page</button>{{/link-to}}
    <button {{action "toggleAvailability" food}}>
      Make {{if food.isAvailable 'unavailable' 'available'}}
    </button>
  {{/if}}

</li>
