{{#collapsible-component as |isOpen component|}}
  <div class="food-item {{if food.isAvailable '' 'not-available'}}">
    <div {{action 'toggleOpen' target=component}} class="title-bar">{{food.excitedName}} <span class="pull-right">{{if isOpen 'V' '>'}}</span></div>
    {{#if isOpen}}
      <div class="description">
        {{icon-image food.imageUrl left=true}}
        {{food.description}}
      </div>
      {{#link-to "foods.food" food}}<button>Show page</button>{{/link-to}}

      {{#if (can-edit-food food)}}
        {{#link-to "foods.food.edit" food.id}}<button>Edit</button>{{/link-to}}
        <button {{action "toggleAvailability" food}}>
          Make {{if food.isAvailable 'unavailable' 'available'}}
        </button>
      {{/if}}
    {{/if}}

  </div>
{{/collapsible-component}}
