{{link-to 'Foods' 'foods'}}
{{link-to 'Restaurants' 'restaurants'}}
{{link-to 'About' 'about'}}
{{link-to 'Contact' 'contact'}}

<span class="pull-right">
  {{#if session.currentUser}}
    Welcome {{session.currentUser.displayName}} <button {{action 'logout'}}>Logout</button>
  {{else}}
    {{link-to 'Login' 'login'}}
    {{link-to 'Register' 'register'}}
  {{/if}}
</span>
<hr>
<div class="flash-messages">
  {{#each flashMessages.queue as |flashMessage|}}
    {{flash-message flash=flashMessage}}
  {{/each}}
</div>
{{outlet}}
