{{link-to 'Foods' 'foods'}}
{{link-to 'Restaurants' 'restaurants'}}
{{link-to 'About' 'about'}}
{{link-to 'Contact' 'contact'}}

<span class="pull-right">
  {{#if session.currentUser}}
    Welcome {{session.currentUser.displayName}}
  {{else}}
    {{link-to 'Login' 'login'}}
  {{/if}}
</span>
<hr>

{{outlet}}
