<div class="flex-container">
  <div class="flex-item">
    <h1>Menu Tracker</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>{{menuLength}} foods total</p>
    <p>{{availableItems.length}} foods available</p>

    <ul>
      {{#each model as |food|}}
        <li class="{{if food.isAvailable '' 'not-available'}}">
          {{#link-to "foods.food" food}}{{food.name}}{{/link-to}}
          <button {{action "toggleAvailability" food}}>
            {{#if food.isAvailable}}
              Make unavailable
            {{else}}
              Make available
            {{/if}}
          </button>
        </li>
      {{/each}}
    </ul>
    <hr>
    {{input value=newItem}}
    <button {{action 'saveNewItem'}}>Save</button>
  </div>
  <div class="flex-item">
  {{outlet}}
  </div>
</div>
