<div class="flex-container">
  <div class="flex-item">
    <h1>Menu Tracker</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>{{menuLength}} foods total</p>
    <p>{{availableItems.length}} foods available</p>

    {{#each model as |food|}}
      {{food-item food=food}}
    {{/each}}
    <hr>
    {{input value=newItem}}
    <button {{action 'saveNewItem'}}>Save</button>
  </div>
  <div class="flex-item">
  {{outlet}}
  </div>
</div>
